<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="C:\Python39\python.exe|C:\Python39\Scripts\wfastcgi.py" 
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.application" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\raincoat-demo" />
  </appSettings>
</configuration>
